<footer style="background-color: #FFFFFF;">
    <div class="max-w-[90%] md:max-w-full mx-auto md:mx-0 md:px-21.5">
        <div class="py-4 border-t" style="border-color: var(--color-border);">
            <div class="grid grid-cols-2 md:flex md:flex-row items-start md:items-center justify-between w-full pb-6 gap-6">
                <nav class="flex items-start">
                    <ul class="flex flex-col md:flex-row md:items-center md:justify-center gap-3 md:gap-8 text-black font-semibold">
                        <li><a href="/nanoblog/articles" class="hover:opacity-70 transition-opacity">Articles</a></li>
                        <li><a href="/nanoblog/about" class="hover:opacity-70 transition-opacity">About</a></li>
                        <li><a href="/nanoblog/portfolio" class="hover:opacity-70 transition-opacity">Portfolio</a></li>
                    </ul>
                </nav>
                <div class="flex flex-col md:flex-row gap-4 md:gap-8 items-end md:items-center justify-end">
                    <img class="h-8 md:max-w-44" src="/nanoblog/assets/icons/logo_minimal.svg" alt="DG Logo" />
                    <nav>
                        <ul class="flex gap-3">
                            <li>
                                <a href="https://www.linkedin.com/in/daniel-guedes-79a05a176/" target="_blank" rel="noopener noreferrer" class="hover:opacity-70 transition-opacity">
                                    <img src="/nanoblog/assets/icons/linkedin.svg" alt="LinkedIn" class="w-5 h-5" />
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/dgramaciotti" target="_blank" rel="noopener noreferrer" class="hover:opacity-70 transition-opacity">
                                    <img src="/nanoblog/assets/icons/github.svg" alt="GitHub" class="w-5 h-5" />
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <p class="text-center" style="color: #838383;">© Copyright Daniel Guedes</p>
        </div>
    </div>
</footer>
