<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Guedes<%= title ? ' | ' + title : '' %></title>
    <link rel="stylesheet" href="/nanoblog/output.css">
    <link rel="icon" type="image/svg+xml" href="/nanoblog/assets/icons/logo_minimal.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/vs2015.min.css">
    <script id="hljsScript" defer onload="hljs.highlightAll()" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <%- include('./_highlight.ejs') %>
</head>
<%- include('./gtag.ejs') %>

