<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Guedes<%= title ? ' | ' + title : '' %></title>
    <link rel="stylesheet" href="/nanoblog/output.css">
    <link rel="icon" type="image/svg+xml" href="/nanoblog/assets/icons/logo_minimal.svg">
</head>
<%- include('./gtag.ejs') %>
