<%- include("./components/_head", { title: '' }) %>
<body class="flex flex-col min-h-screen font-sans" style="font-family: var(--font-sans); color: var(--color-black); background-color: var(--color-white);">
    <%- include("./components/_header") %>

    <main class="h-full min-h-125 bg-[#fedf1e] flex flex-col gap-4 items-center justify-center">
        <img width="200" src="/nanoblog/assets/icons/construction_worker.svg" alt="construction worker">
        <h1 class="text-6xl p-5 text-center font-bold text-black"> 
            <p class="font-bold bg-black p-4 text-[#fedf1e]">CAUTION</p>
            Work in progress
        </h1>
    </main>

    <%- include("./components/_footer") %>
</body>
</html>